body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}
h2 {
  color: white;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

p {
  color: white;
  text-align: center;
  margin-left: 10px;
}

p::before {
  content: "•"; /* Unicode character for a dot */
  color: white; /* Color of the dot */
  margin-right: 5px; /* Space between the text and the dot */
}

canvas {
  display: block;
  margin: 20px auto;
  border: 1px solid rgba(96, 125, 139, 0.25);
  background-color: black;
}
strong {
  color:blueviolet;
}

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: #6200ea;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:nth-of-type(1) {
  margin-right: 15px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 20%;
  box-sizing: border-box; 
}